@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: linear-gradient(to bottom, #439c9c, #06233d);
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h2, p{
  margin: 15px;
}

p{
  font-size: 14px;
}

.form {
  width: 350px;
  padding: 20px 30px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  animation: slide-side 0.5s ease-in-out;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

input,
button {
  width: 100%;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
}

button {
  background-color: #06756c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #035950;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.remember-me input[type="checkbox"] {
  margin-right: 0px;
  cursor: pointer;
  width: auto;
}

.remember-me label {
  font-size: 14px;
}

#forgotPassword,
#switchToSignup,
#switchToLogin {
  color: #444444;
  text-decoration: none;
  font-size: 14px;
}

#forgotPassword:hover,
#switchToSignup:hover,
#switchToLogin:hover {
  text-decoration: underline;
}

@keyframes slide-side {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.password-container {
  position: relative;
  width: 100%;
}

.eye-toggle {
  position: absolute;
  top: 30%;
  right: 10px;
  cursor: pointer;
  color: #555555;
}

.eye-toggle .fa-eye-slash{
  display: none;
}

.eye-toggle:hover {
  color: #333;
}

.form:not(.active) {
  display: none;
}